/* seccion ¿que hago? */

.seccion-que-hago {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0% 12%;
}

.seccion-titulo-que-hago p {
    color: var(--color-primario);
    font-size: 80%;
    font-weight: var(--font-weight-subtitulos);
    letter-spacing: 0.5px;
    margin: 0% 0% 2% 2%;
}

.seccion-titulo-que-hago h2 {
    font-size: 300%;
    color: var(--color-fuente-subtitulos);
}

.seccion-que-hago .seccion-que-hago-propiedades-cajas {
    overflow: hidden;
    position: relative;
    width: 1010px;
    margin: 2%;
    display: flex;
    justify-content: space-between;

}


.contenedor-cajas{
    display: flex;
}

.derecha, .izquierda{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 115%;
    transform: translateX(-50%);
    color: var(--color-primario);
    background-image: var(--degrade-fondo-botones);
    border-radius: 50%;
    padding: .5% 1%;
    box-shadow: var(--box-shadow-3-1);
    border: none;
}

.derecha{
    left: 90%;
}

.izquierda{
    right: 88%;
}


.seccion-que-hago .seccion-que-hago-propiedades-cajas .seccion-que-hago-cajas {
    display: flex;
    flex-direction: column;
    font-family: var(--fuente-secundaria);
    width: 340px;
    padding: 3% 2%;
    margin: 1%;
    border-radius: 2%;
    background-image: var(--degrade-fondo-botones);
    box-shadow: var(--box-shadow-3-1);
}

.seccion-que-hago .seccion-que-hago-propiedades-cajas .seccion-que-hago-cajas i {
    font-size: 120%;
    color: var(--color-primario);
    margin: 5% 4%;
}

.seccion-que-hago .seccion-que-hago-propiedades-cajas .seccion-que-hago-cajas h3 {
    font-size: 130%;
    font-weight: var(--font-weight-subtitulos);
    opacity: 80%;
    margin: 3% 0% 1% 0%;
    letter-spacing: -0.5px;
    color: black;
}

.seccion-que-hago .seccion-que-hago-propiedades-cajas .seccion-que-hago-cajas p {
    font-size: 100%;
    font-weight: 500;
    line-height: 15px;
    color: var(--color-fuente-terciario);
    margin-top: 10px;
}